.carousel-item {
    position: relative;
    height: 600px;
  }
  
  .carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
  
  .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .carousel-caption {
    color: #ffffff;
    z-index: 2;
    position: absolute;
    top: 60%;
    transform: translate(-15%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .carousel-caption h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #F9A000;
  }
  
  .carousel-caption p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .nav-login {
    display: flex;
  }
  
  .nav-icon {
    display: flex;
  }
  
  .tab-bar {
    background-color: #3C4043;
    color: #fff;
    padding: 5px 0;
  }
  
  .icon-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .icon-header .nav-link {
    float: right;
    color: #fff;
    font-size: 1rem;
    margin-left: 20px;
  }
  
  .icon-header .nav-link:first-child {
    margin-left: 220px;
  }
  
  .icon-header .nav-link:hover {
    color: #ccc;
  }
  
  footer {
    padding: 20px 195px;
    background-color: #3C3F43;
    color: white;
  }
  
  .footer1{
    width: 40%;
  }
  
  .container-footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .container-footer .row {
    display: flex;
    width: 100%;
    gap: 30px;
  }
  
  .container-footer .row .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container-footer .row .col h4 {
    margin-bottom: 10px;
    color: #F9A000;
    font-weight: bold;
    font-size: 30px;
  }
  
  .container-footer .row .col a {
    margin: 5px 0;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  
  .container-footer .row .col a:hover {
    color: #ccc;
  }
  
  .container-footer .row .col .icon-links {
    display: flex;
    justify-content: start; /* Đảm bảo các icon nằm bắt đầu từ bên trái */
    align-items: center;
    gap: 15px; /* Khoảng cách giữa các icon */
  }
  
  .container-footer .row .col .icon-links img {
    width: 30px; /* Cài đặt kích thước icon */
    height: 30px;
  }
  
  .container-footer .row .col a:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  